body, h1, h2, p {
    margin: 0;
}

p {
    font-size: 1.2rem;
}

header, .about, .info {
    background-color: cadetblue;
    padding: 25px 50px;
    color: white;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    gap: 50px;
}

nav > h1 {
    font-size: 2.5rem;
    margin-right: auto;
    cursor: default;
}

nav button {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav button:hover {
    background-color: rgb(108, 194, 197);
}
nav button.selected {
    background-color: white;
    color: cadetblue;
}

.splash {
    width: 100vw;
    padding: 50px;
}

.splash > * {
    margin-left: 50px;
}

.splash .container {
    display: flex;
    gap: 50px;
    flex-direction: row-reverse;
    margin: 25px 50px;
}

.splash button {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 500px;
    background-color: cadetblue;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
.splash button:hover {
    background-color: darkcyan;
}

.reviews {
    padding: 50px;
    margin: 50px;
    background-color: aliceblue;
    border-radius: 10px;
}

.info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 25px;
}

.card {
    box-sizing: border-box;
    color: white;
    background-color: cadetblue;
    padding: 20px;
    height: 200px;
    border-radius: 5px;
}

.card-description {
    font-style: italic;
}